[build]
builder = "NIXPACKS"

[deploy]
startCommand = "cd out && dotnet ImpostoreGame.dll"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
